<!doctype html>
<html>
    <head>
        <title>Website X</title>
    </head>
    <body>
        <header>
            <img src="/images/b1.jpg" alt="logo">
        </header>
        <h2>Welcome to Website X</h2>
        <a href="/">Home</a> |
        <a href="/About">About</a> |
        <a href="/foo">Foo</a> |
        <hr/>

        {{{body}}}

    </body>
</html>